header {
    flex: 0 100px;
    color: inherit;
    text-decoration: none;
}

.account-name {
    color:white;
}

#profile-picture {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border:4px solid #353535
}

#account-info {
    padding: 15px;
}

#change-account {
    padding: 15px;
}

#link-google {
    margin: 5px;
}

#logout {
    margin: 5px;
}